body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
header a:hover {
  color: #130f40;
}
header a {
  transition: all 0.5s linear;
}

header h1 {
  color: #8854d0;
  text-decoration: none;
}

a {
  color: #8854d0;
  text-decoration: none;
}

.nav-left {
  margin-right: auto;
  padding-left: 2rem;
}
.nav-right {
  display: flex;
  padding-top: 2rem;
  padding-right: 2rem;
}
.nav-right h1 a {
  text-decoration: none;
}
.post-entry {
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.post-entry h2 {
  margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: blue;
  text-decoration: none;
}

.post-entry p {
  margin: 0;
  font-weight: 300;
}

.post-entry h2 a:hover {
  color: #ff6348;
}
